<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>FantaRhythm</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet"  href="/public/stylesheets/bootstrap.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/stylesheets/agroup.css">
        <script>
          function nextStep(){    
            var port = location.port;
            var host = location.host;
            var path = `http://${host}:${port}/agroup/`;
            var path_num = Number(location.pathname.match( /[^/]+$/i )[0]) ; 
            if(path_num == 1){ path_num = 0}
            else{ path_num += 1}
            path = path + path_num;
            location.href = path;
          }
        </script>
    </head>
    <body onload="setTimeout('nextStep()', 5000);">
        <div class="text-center">
          <h1>FantaRhythm ランキング</h1>
          <h2>曲名: <span class="musictitle"><%= data.array[data.num][0]["music"] %></span></h2>
        </div>
        <hr>
          <% var rank = data.array[data.num] %>
          <% for(var i = 0; i < rank.length; i++){ %>
            <div class="text-center scores">
              <%= i + 1 %>位
              プレイヤー名: <%= rank[i]["player_name"] %>
              スコア: <%= rank[i]["scoer"] %>
            </div>
          <% } 
          %>
    </body>
</html>
