<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>FantaRhythm</title>
        <meta charset="UTF-8"> 
        <link  rel="shortcut icon" href="/public/images/favicon.ico">
        <link rel="stylesheet"  href="/public/stylesheets/bootstrap.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='/public/stylesheets/google.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/stylesheets/agroup.css">
        <script src="/public/javascripts/agroup.js"></script>
    </head>
    <body onload="mousestc()">
        <div class="text-center">
          <h1 class="game_title">FantaRhythm</h1>
        </div>
        <hr>
          
          
            <div class="text-center scores">
              <a href="/agroup/select/0"><label class="scores">Himmel's wander</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/1"><label class="scores">attacking ready!</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/2"><label class="scores">Who dirty hands for...</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/3"><label class="scores">AxisDrive</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/4"><label class="scores">Gradius</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/5"><label class="scores">Glassland</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/6"><label class="scores">In search of hope</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/7"><label class="scores">SP</label></a>
            </div>
          
            <div class="text-center scores">
              <a href="/agroup/select/8"><label class="scores">NightFlight</label></a>
            </div>
          
    </body>
</html>
